<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.vsso.timegrapple</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/{{user}}/.virtualenvs/timegrapple/bin/python</string>
    <string>/Users/{{user}}/{{install_path}}/timegrapple/main.py</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
